<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="database" type="Database">
      
        <dbprovider>mssql</dbprovider>
      
        <dbhost>TSTEODSERVER01V</dbhost>
        <dbdatabase>testy</dbdatabase>
        <dbusername>Patryk_workshop</dbusername>
        <dbpassword>123123</dbpassword>
      
        <commandText>
          insert into Patryk_workshop_error(time_stamp,level,logger,message) values(@time_stamp, @level, @logger, @message);
        </commandText>
      
        <parameter name="@time_stamp" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" appendTo="database" />
  </rules>
</nlog>
